@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f9fa;
  color: #333;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  padding: 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  overflow-x: hidden;
}

.stroke-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

html {
  scroll-behavior: smooth;
}
.highlight {
  background: linear-gradient(90deg, #15f5b9d0, #002affc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
/* Remove padding and margin from react-slick slides */
.no-slick-padding .slick-slide {
  padding: 2px !important;
  margin: 0 !important;
}

.no-slick-padding .slick-list {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px); /* Start from left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End at normal position */
  }
}

.animate-slide-in {
  animation: slideInFromLeft 0.5s ease-out;
}
.HomeBanner-bg-back{
  background-image: url("./assets/info-bg.jpg");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 1%;
}
